* {
    box-sizing: border-box; 
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: silver; 
    background: url('../images/dark-forest-hp-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 45px; 
    text-align: center; 
}

#directions, #choose-text, #wizard-text, #challenger-text, #current-status {
    font-size: 35px; 
}

#begin-game, #expelliarmus {
    background-color: silver; 
    border: black;  
    font-size: 25px; 
}

#begin-game:hover, #expelliarmus:hover {
    background-color: #222;
    border: black;
}

#header-image {
    width: auto;
    height: auto;
}

.wizard-image {
    width: 150px;
    height: 150px; 
    border: 1px solid silver;
}

.wizard-image:hover {
    cursor: pointer;
}

label {
    font-size: 20px;
    padding: 10px; 
    color: black; 
}

form {
    background-color: silver; 
    padding: 10px; 
    height: 250px;
    width: 250px;
}

#duel-wand-image {
    width: 625px;
    height: 200px; 
    margin-top: 50px;
    margin-left: 0; 
    margin-right: 0; 
    padding: 0; 
    opacity: 0.8;  
}
